// Fondo general
ion-content {
    --background: #0d0d0d;
    font-family: 'Courier New', monospace;
    color: #00ff99;
    padding: 16px;
  }
  
  // Cabecera del detalle
  ion-header {
    --background: #121212;
    --color: #00ff99;
    border-bottom: 1px solid #00ff99;
  }
  
  // Título y textos
  h2 {
    color: #00ff99;
    margin-bottom: 8px;
    text-transform: uppercase;
  }
  
  p {
    font-size: 15px;
    margin: 6px 0;
    color: #c2f5e9;
  }
  
  // Spinner centrado
  .spinner {
    display: block;
    margin: 40px auto;
  }
  